html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.maintainer {

  width: 100%;
  height: 100vh;
  background-color: #ebeaea;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  background-color: #1d274e;
  background: transparent
}

.v {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 5vh;
}

.src {
  width: 30px;

}

.img2 {
  width: 20px;
  position: relative;
  right: 30px;
}

.nav {
  width: 100%;
  height: 5vh;
  background-color: #f2d440;
  display: flex;
  align-items: center;

}

.n {
  position: absolute;
  right: 0;
  margin: 0px 10px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
}

.form {
  position: absolute;
  width: 100%;
  transition: 0.5s;
  height: 95vh;

}

.you {
  top: 0%;
}

.text {
  width: 80%;
  height: 25px;
  padding-left: 10px;
  border-radius: 20px;
}

.img1 {
  width: 60px;
  margin: 0px 20px;

}

.me {
  visibility: hidden;
}

.main {
  width: 60%;
  height: 70vh;

  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;

}

.box1 {
  width: 50%;
  height: 100%;
  background-color: #f9f6f6;
  padding: 10px;

}

.box2 {

  width: 50%;
  height: 100%;
  background-color: #f9f6f6;
  padding: 10px 10px 10px 0px;

}

.div {
  display: flex;

}

.img {

  height: 30px;
  width: 50px;
  margin-right: 10px;
}

.inp {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  padding-left: 10px;
  border: 1px solid grey;
}

.zip {
  display: flex;
  justify-content: space-between;
}

.z {
  width: 130px;
  height: 35px;
  box-sizing: border-box;
  padding-left: 10px;
  border: 1px solid grey;
}

.p {
  font-size: 20px;
  margin: 20px 0px;
}

.btn {
  position: absolute;
  width: 97%;
  left: 0%;
  margin-left: 10px;
  margin-top: 50px;
  background-color: green;
  color: white;
}

.h2 {
  margin-bottom: 40px;
}

@media (max-width: 1024px) {

  .text {
    width: 60%;
  }

  .main {
    width: 100%;
    height: 100%;
    display: block;


  }

  .maintainer {
    background-color: #ccc7c8;
  }

  .box1 {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    height: 50%;
  }

  .box2 {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;

    height: 85%;
  }

  .h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .but {
    margin: auto;
  }

  .btn {
    width: 80%;
    margin-left: 37px;
  }

  .z,
  .inp {
    height: 25px;
  }

  .img {
    margin-right: 20px;
  }

}

@media (max-width: 540px) {
  .text {
    width: 40%;
  }

  .box1 {

    height: 60%;
  }

  .box2 {

    height: 85%;
  }

  .maintainer {
    background-color: #ccc7c8;
  }
}

@media (max-width: 380px) {
  .text {
    width: 40%;
  }

  .box1 {

    height: 70%;
  }

  .box2 {

    height: 80%;
  }

  .maintainer {
    background-color: #ccc7c8;
  }
}

@media (max-width: 360px) {
  .text {
    width: 40%;
  }

  .box1 {

    height: 55%;
  }

  .box2 {

    height: 75%;
  }

  .maintainer {
    background-color: #ecdade;

  }